/*
 External CSS Stylesheet
 */

/* Styling for HTML elements */

body {
    background: #efeee7;
  }

  h3 {
    /* padding: 20px; */
    margin: 20px;
    text-align: centre;
    color: teal;
  }

  p {
    margin: 30px;
  }
  
    /* padding: 0;
    margin: 0;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    font-size: 24px;
    color: #d21034; */

  

 /*
 * Fixed Position: Anchors element to the browser
 */

.box-set {
    position: relative;
    background: #efeee7;
  }
  
  .box {
    text-align: centre;
    position: fixed;
    background: white;
  }
  
  /* Box rules: percentages define anchors (i.e. position of each box relative to browser window) */
  
  .box-1 {
    width: 650px;
    height: 400px;
    top: 25%;
    left: 8%;
  }
  
  .box-2 {
    width: 500px;
    height: 400px;
    top: 25%;
    right: 8%;
  }
  

  

  