/*
 External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
  background: #efeee7;
}



p {
    margin: 20px;
  }
  

h3 {
    margin: 15px;
    color: teal;
  }
  


    /* padding: 0;
    margin: 0;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    font-size: 24px;
    color: #d21034; */

  

 /*
 * Fixed Position: Anchors element to the browser
 */

.box-set {
    position: relative;
    background: #efeee7;
  }
  
  .box {
    text-align: centre;
    position: fixed;
    background: white;
  }
  
  /* Box rules: percentages define anchors (i.e. position of each box relative to browser window) */
  /* boxes on landing page */
  .box-1 {
    width: 650px;
    height: 430px;
    top: 23%;
    left: 8%;
  }
  
  /* vizualizations box on index page */
  .box-2 {
    width: 500px;
    height: 430px;
    top: 23%;
    right: 8%;
  }

  /* boxes on visulization pages */
  .box-3 {
    width: 650px;
    height: 545px;
    top: 23%;
    left: 8%;
  }
  
  /* vizualizations box on visulization pages */
  .box-4 {
    width: 500px;
    height: 430px;
    top: 23%;
    right: 8%;
  }


  /* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  .box-1 {
    width: 100%;
  }

  .box-2 {
    width: 100%;
  }

  .box-3 {
    width: 100%;
  }

  .box-4 {
    width: 100%;
  }

}

/* Medium Devices, Desktops */
@media (max-width : 992px) {
  .box-1 {
    width: 80%;
  }

  .box-2 {
    display: none;
  }

  .box-3 {
    width: 80%;
  }

  .box-4 {
    display: none;
  }

}

/* Small Devices, Tablets */
@media (max-width: 768px) {
  .box-1 {
    width: 80%;
  }

  .box-2 {
    display: none;
  }

  .box-3 {
    width: 80%;
  }

  .box-4 {
    display: none;
  }

}


/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .box-1 {
    width: 80%;
  }

  .box-2 {
    display: none;
  }

  .box-3 {
    display: none;
  }

  .box-4 {
    width: 80%;
  }

}


/* Image Borders */
#border { border: 1px teal solid; }